
/* HTML-------------------------------------------------------- EQUIPO */

.plantilla {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: nba-celtics;

}

#ambasCajas {
    display: flex;
    justify-content: center;
    margin: 20px;
}

#buscarJugador{
    width: 30vw;
    color: #007A33;
    
    
}

#btnBuscarJugador:hover{
    background:linear-gradient(to bottom, #0f6b12 5%, #1be049 100%);
	background-color:#0f6b12;
}


#colorcaja{
    color: #007A33;
}

#jugadorPedido{
    margin-bottom: 10px;
}

#descJugador{
    width: 30vw;
}

#descJugador {
    margin: 20px;
}

#buscarJugador {
    margin: 20px;
}

.tituloJugador{
    font-size: 25px;
    color: white;
}

#idResultado
{
    font-size: 16px;
    color: white;
}

#listadoLI{
    font-size: 20px;
}

.primer-team {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;

}

.smart-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include border-img-2($colorFondo,  $bordeGrande);

    box-shadow: 0px 10px 18px 0px rgba(0,0,0,1);
-webkit-box-shadow: 0px 10px 18px 0px rgba(0,0,0,1);
-moz-box-shadow: 0px 10px 18px 0px rgba(0,0,0,1);

margin-bottom: 20px;
}

.team-foto {
    margin: 10px;
}

.desc-players {
    margin: 10px;
}

.primer-team div {
    margin-left: 50px;
    margin-right: 50px;
}

.team-foto {
    width: 200px;
    border: solid 2px black;
}

.desc-players li {
    margin-top: 10px;
    margin-bottom: 10px;
}


.suplentes {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 38px;
    text-decoration: underline;
    font-weight: 800;
    font-family: nba-celtics;
}

.primer-team div ul li {
    font-size: 20px;
}

/* SEGUNDO TEAM */

.segundo-team {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.segundo-team div {
    margin-left: 50px;
    margin-right: 50px;
}

.team-foto2 {
    width: 200px;
    border: solid 2px black;
    margin: 10px;
}

.segundo-team div ul li {
    font-size: 20px;
}

/* COACH */

.suplentes {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 38px;
    text-decoration: underline;
    font-weight: 800;
}

.coach-team {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.udoka-foto {
    width: 500px;
    @include border-img-2($colorFondo,  $bordeGrande);
}

.coach-team ul li {
    font-size: 20px;
}